@import 'normalize.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
// @import 'tailwind.config.js';
@import 'tailwindcss/utilities';

:root {
    --blackDefault: #000000;
    --gray100: #f3f4f6;
    --gray200: #9ca3af40;
    --gray300: #d5dae1;
    --red300: #d0011b;
    --orange300: #ee4d2d;
    --orange200: #f97316;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Noto Sans;
}

.limitNumbLine {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.hideScrollbar {
    overflow: -moz-scrollbars-none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer/Edge */
    scrollbar-width: none; /* Firefox */
    -webkit-scrollbar-width: none; /* Chrome and Safari */
}

/* Hide scrollbar for Firefox */
.hideScrollbar::-webkit-scrollbar {
    display: none;
}

.shake {
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.2s both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

.chat-container {
  min-height: 80dvh;
  max-height: 80dvh;
}

.phone-ring {
  animation: ring 1s infinite ease-in-out;
}

.fixed-contact::before {
  content: '';
  position: absolute;
  height: 44px;
  width: 60px;
  box-shadow: 30px 0 0 0 #864AF9;
  pointer-events: none;
  top: -40px;
  right: 0px;
  border-radius: 0 0 50px 0;
}

.fixed-contact::after {
  content: '';
  position: absolute;
  height: 44px;
  width: 60px;
  box-shadow: 30px 0 0 0 #864AF9;
  pointer-events: none;
  bottom: -40px;
  right: 0px;
  border-radius: 0 50px 0px 0;
}

@keyframes ring {
  0% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }

  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }
}


@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}